<mat-card class="card">
  <mat-card-header class="card__header">
    <mat-card-title class="card__title">{{ project.title }}</mat-card-title>
    <mat-divider inset></mat-divider>
  </mat-card-header>

  <mat-card-content class="card__body">
    <mat-checkbox
      class="card__checkbox"
      *ngFor="let todo of project.todos"
      [checked]="todo.isCompleted"
      [id]="todo.id"
      (change)="markCheckbox($event)"
    >
      {{ todo.text }}
    </mat-checkbox>
  </mat-card-content>
</mat-card>
