.main {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 30px;
  background-color: #f8f8f8;
  box-sizing: border-box;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 40px 30px;
  justify-content: center;

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
